<!-- <form [formGroup]="form" novalidate>
  <div class="form-group">

    <label for="email">Email</label>
    <dx-text-box formControlName="emailControl" [(ngModel)]="formData.email" [isValid]="!emailControl.invalid || emailControl.pristine"
      [validationError]="{ message: 'Enter correct email' }">
    </dx-text-box>

    <label for="password">Password</label>
    <dx-text-box formControlName="passwordControl" [(ngModel)]="formData.password" mode="password" [isValid]="!passwordControl.invalid || passwordControl.pristine"
      [validationError]="{ message: 'Password should be greater that six symbols' }">
    </dx-text-box>

    <label for="lookup">Product</label>
    <dx-lookup formControlName="lookupControl" [dataSource]="products" displayExpr="name" title="Products" [(ngModel)]="formData.product">
    </dx-lookup>

  </div>
  <label>Toggle form controls state: </label>
  <dx-switch (onValueChanged)="toggleFormControlsState($event)"></dx-switch><br/>
  <dx-button text="Submit" (onClick)="helloWorld()"></dx-button>
</form> -->


<form>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-sm">
        <label for="email">Email</label>
        <dx-text-box name="email" [(ngModel)]="testModel.email">
        </dx-text-box>
      </div>
      <div class="col-sm">
        <label for="lookup">Product</label>
        <dx-lookup name="product" [dataSource]="products" displayExpr="name" valueExpr="key" title="Products" [(ngModel)]="testModel.productId">
        </dx-lookup>
      </div>


      <div class="col-sm">
        <dx-button text="Submit" (onClick)="helloWorld()"></dx-button>
      </div>
    </div>
  </div>
</form>

<p>
    {{testModel | json}}
</p>


<router-outlet></router-outlet>